h1 {
    text-align: center;
    color: gold;
    letter-spacing: 0;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555;
}
h2{
    color:white;
}
body {
    background-image: url(./images/bg.jpg);
    background-size:cover;
}
h3 {
    color: white;
    text-align: center;
}
title{
    color:white;
}
header {
    height: 20px;
    background-color: none;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 20px 20px 20px 20px;
    font-size: 1.5em;
    text-align: center;
    color: orangered;
    letter-spacing: 0;
}


header em {
        font-size: 1.1em;
        font-family: Helvetica;
}
p.aboutus {
    color: white;
    text-align: center;
}
p.white{
    color:white;
}
html {
    background-color: lightblue;
    font-family: Helvetica;
    font-size: 18px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: gray;
	margin: 0 0 0 0;
}

nav li {
    float: left;
    border-right:1px solid #bbb;
}

nav li:nth-last-child(-n+4){
    border-right: none;
    float: right;
    border-left:1px solid #bbb;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}



em {
	font-family: "Times New Roman", Georgia, Serif;
}


legend {
    padding: 1px 8px;
    border: 2px solid #e0d8b7;
    border-radius: 6px / 12px;
    box-shadow: none;
    background: #fff;
    font-size: 14px;
    color: orangered;
}
form {
    display: block;
    margin-top: 0em;
}
fieldset label {
    float: left;
    clear: left;
    padding-top: 2px;
    width: 120px;
    text-align: right;
    font-size: 90%;
    color: white;
}
fieldset input, fieldset textarea, fieldset select {
    padding: 2px 4px;
    border: 1px solid #ccc;
    border-radius: 2px;
    background: #fff;
    line-height: 1.1;
    font-family: inherit;
    font-size: 1.1em;
}
fieldset span {
    display: block;
    margin: 0 0 0 120px;
    padding: 0 0 4px 4px;
}
fieldset input[type="submit"], fieldset input[type="reset"], fieldset input[type="button"] {
    padding: 2px 6px;
    border: #b5bbc4 1px solid;
    background: #f7fafc;
    background-image: -webkit-linear-gradient(top,#fff,#dae6f1);
    background-image: -moz-linear-gradient(top,#fff,#dae6f1);
    background-image: -ms-linear-gradient(top,#fff,#dae6f1);
    background-image: linear-gradient(to bottom,#fff,#dae6f1);
    font-size: 100%;
    color: white;
}


table {
  width: 100%;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

    table#t01 {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
table#t01 tr:nth-child(even) {
    background-color: #e0ebeb;
}

table#t01 tr:nth-child(odd) {
    background-color: #fff;
}

table#t01 th {
    background-color: black;
    color: white;
}

#t01 tr:hover {
    background-color: orange;
    color: orange;
}


.arena-container {
  margin: 100px 10%;
  display: flex;
  flex-wrap: wrap;
}

.arena {
  flex: 0 0 27%;
	height: 200px;
  display: flex;
  margin: 2px;
  padding: 20px;
  border: 1px solid #dadada;
  border-radius: 2px;
  background-color: #fff;
	flex-direction: column;
}

.arena-contents{
	width: 100%;
	height: 20%;
	float: left;
	margin: 5px auto;
	flex-direction: column;
}
.arena-contents #name{
	color: red;
}
#aview-button {
    color: orange;
}

<<<<<<< HEAD
.account{
  margin: 100px 10%;
  display: flex;
  flex-wrap: wrap;
}

.account #username{
	margin: 10px;
	background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
	width: 100%;
	font-size: 100px;
}

.account #stats{
	height: 200px;
	width: 10%;
  display: flex;
  margin: 2px;
  padding: 20px;
  border: 1px solid #dadada;
  border-radius: 2px;
  background-color: #fff;
}

#champions{
	width: 80%;
	padding: 20px;
}
=======
>>>>>>> 5a2ce37b6012e3f7184d9aa87bc6ad078f74df93
